/*h1 {
    text-align: left;
  }
  #gameContainer {}
  body {
    background: #111;
    color: #f8f8f8;
  }
  canvas {
    background: #ffffff;
    padding: 15px 200px 15px 20px;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
     
  }

  html, body {
    width: 100%;
    height: 100%;
    font-family: Oxygen, sans-serif;
    text-align: left;
  }
  
  .container {
    width: 200;
    height: 150;
    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  #color-picker {
    border: 3px solid rgba(0, 0, 0, 0.2);
  }
  
  .info {
    width: 12em;
    display: flex;
    margin-left: 4em;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .selected {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  */
*{font-family:sans-serif;}

#settings { display: block; text-align:left}

#myCanvas {border: 1px solid black; background : #ffffff; width:"1200" ;height:"900"; display: block;}

a {font-size: 30px} 

.button {
  background-color: rgb(78, 78, 78);
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button9 {
  background-color: rgb(100, 100, 100);
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  background-color: yellow;
  border: none;
  color: rgb(255, 197, 122);
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button4 {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button5 {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button6 {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button7 {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button8 {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(58, 58, 58);
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}